.menuPicture {
    width:50px;
    height:50px;
}

.dropdown:hover>.dropdown-menu{
    display:block;
}

.menuItem{
    line-height:50px;
}

.menuItem:hover{
    text-decoration:underline;
    border-left:2px solid green;
    color:green;
    
}

body{
    background-image:url(https://lh3.googleusercontent.com/VrPzQ6Z3XK7oDcKn51AbKRAs_4U1wybryBOX62YhXXo3hVQLK9fujO_NtZ2hqUDs8e6KYicmew=w640-h400-e365);
    background-size:cover;
   
}

h1{
    color:white;
    text-align:center;
    margin-top:50px;
}

.ul2{
    text-align:center !important;
}

.arama li:active{

}


.raporGenelCerceve{
    margin-top:2%;
}

.raporİcerik{
    width:300px;
    height:auto;
    margin-top:30px;  
    padding-top:1%;
    border:solid 3px white;
    border-radius:25px;
    background-color:white;

}

.raporİcerik h3{
    margin-top:6.5%;
}

.raporİcerik h4{
    color:black;
}

.raporPic{
    width:70px;
    height:70px;
    margin-left:-40px;
    margin-top:-45px;  
    position:absolute;

}

.rapor{
    display:inline-block;
    text-align:center;
    margin-left:3.5%;
    
}

.rapor a{
    text-decoration:none;
}

.raporİcerik:hover {
    box-shadow: 0px 5px 20px 5px #a7a6a6;
}
.card:hover {
    box-shadow: 0px 5px 20px 5px #a7a6a6;
}
/*.reklam1Bgp:hover {
    box-shadow: 0px 5px 20px 5px gray;*/
}

.reklam1Bgp{
    border-radius:1%;
}

.reklam1Bgp img{
    opacity:1;
}

.cardPicture{
    width:100%;
    border:2px solid black;
}

.reklam1{
    position:relative;
}

.reklam1 h4{
    position:absolute; 

 
}


.reklam1 h3{
    color: #f3eded;
    margin-left:40px;   
}

 .altMenu{
            margin-bottom:0;
            width:100%;
            text-align:center;
            background-color:#3A4A50;
            margin-top:10%;
        }
            
        .altMenu a{
            text-decoration:none;
            color:white;
            margin-left:10px;
        }

        .copyright{
            font-size:12px;
            background-color : white;
            font-family:Arial;
        }
        .copyright label{
            position:absolute;
            left:0;
            padding:7% 27% 0 27%;
        }
        .copyright img{
            width:200px;
            height:200px;
            opacity:0.1;
            
        }
        .baglanti{
            margin-bottom:3px;
            background-color:#77B7DB;
            background-image:url(https://s-emlakjet.mncdn.com/static/img/left-house.png),url(https://s-emlakjet.mncdn.com/static/img/right-house.png);
            background-repeat: no-repeat;
            background-position:top left,top right;  
        }
    
        .rules ul{
            list-style-type:none;
            margin:0;
            padding:0;
            padding-bottom:5px;
        }

        .rules ul li{
            position:relative;
            display:inline-block;
            padding-right:5px;
            color:#C2F3D9;
        }
         .rules ul li a{
             font-size:13px;
         }
        
         .rules ul li:hover{
             color:#16C349;
         }

    .iletisim{
        color:white;
    }

    .card:hover{
        box-shadow: 0px 5px 20px 5px gray ;
    }

.enYeniIlanlar a{
    text-decoration:none;
    color:white;

}

.enYeniIlanlar a img {
    width: 100%;
    height: 100%;
}

.enYeniIlanlar a:hover{
    opacity:0.7;
}

.sikAranan a {
    text-decoration: none;
    color: black;
}

.sikAranan a:hover{
    color:white;
}

.goster {
    display: block;
}

.gosterme{
    display:none;
}

#rule1, #rule2, #rule3, #rule4, #rule5, #rule6 {
    text-decoration: none;
    color: inherit;
}

.modelRules a {
    line-height:50px;
}

.yeniIlanPic{
    position:absolute;
     font-size:24px;
}

.yeniIlanBilgi{
    position:absolute; 
    font-size:20px;
}

.yeniIlanSayi{
    position:absolute;
    font-size:16px;
}



.dropdown-menu a {
    font-size:15px;
}

#kayitOl a{
    font-size:15px;
}
#kayitOl input{
    font-size:15px;
}

#kayitOl button{
   font-size:15px;
}

.ilan{
    font-size:15px;
}

.ilanDetayPic {
    height:100%;
    width:100%;
}

.ilanKunyeDiv{
    border-bottom:1px solid;
    margin-bottom:4px;
}

.ilanKunyeSpanLeft{
    left:0;
}

.ilanKunyeSpanRight{
    float:right;
}

.ilan a{
    text-decoration:none;
    color:black;
}

.ist{
    top:38%; 
    margin-left:31%;
}
.istBilgi{
    top:49%; 
    margin-left:26%;
}

.istSayi{
    top:60%;
     margin-left:17%;
}

@media only screen and (min-width:992px) and (max-width:1200p){
    .yeniIlanPic{
        margin-left:35%;

        }
    .yeniIlanBilgi{
        margin-left:35%;
    }
    .yeniIlanSayi{
        margin-left:25%;
    }
}